@import '../../../public';
@import '../../../mixin/mixin';

$base-height: 32px; //基础高度/行高
$base-gap: 5px; //基础间距
$base-btn-width: 88px; //按钮宽度

.ns-roleFnBtn {
  overflow: hidden;
  /* title */
  .moduleTit {
    width: 100%;
    height: $base-height;
    line-height: $base-height;
    padding: 0 $base-gap * 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include box-sizing;
    span:not(.el-checkbox__input, .el-checkbox__inner) {
      display: inline-block;
      padding: 0 $base-gap * 2;
      @include box-sizing;
    }
    //主标题
    &.mainTit {
      padding-left: 0;
      margin-bottom: $base-gap;
      span:not(.el-checkbox__input, .el-checkbox__inner) {
        padding: 0 $base-gap 0 $base-gap * 4;
      }
      &.firstModuleTit {
        margin-top: $base-gap;
        font-weight: bold;
        svg.ns-icon-svg {
          cursor: pointer;
        }
      }
    }
  }
  /* first module */
  .firstModule {
    width: 100%;
    /* first module content */
    .firstContent {
      height: 0;
      padding: 0;
      overflow: hidden;
      @include transition(all, 0.2s, linear);
      &.opened {
        height: auto;
        padding: $base-gap 0;
      }
      /* second module title */
      .secondModuleTit {
        padding: 0 $base-gap * 2;
        margin-bottom: $base-gap;
        /* manage-range component in role-Fn-Btn component*/
        .cx-manage__range {
          padding: 0 $base-gap * 2;
        }
      }
      /* second module content */
      .secondContent {
        /* third module title */
        .thirdModuleTit {
          display: inline-block;
          text-align: right;
        }
      }
    }
  }
}
