@import '../../../public';
@import '../../../mixin/mixin';

.ns-auto-form {
  padding-bottom: 2px;
  //submit / reset .. - items handle modules
  .ns-autoForm-handle {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    @include box-sizing;
    &.e-left {
      //padding-left: $dialog-padding_left;
      padding-left: 0;
    }
    &.e-right {
      //padding-right: $dialog-padding-right;
      padding-right: $dialog-padding-right;
    }
  }
  //auto-form content
  .ns-autoForm-content {
  }
}
